<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' type='image/x-icon' href='/assets/tinydash/favicon.ico' />
    <title><%= extra.error.title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/assets/tinydash/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/assets/tinydash/css/feather.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/assets/tinydash/css/select2.css">
    <link rel="stylesheet" href="/assets/tinydash/css/dropzone.css">
    <link rel="stylesheet" href="/assets/tinydash/css/uppy.min.css">
    <link rel="stylesheet" href="/assets/tinydash/css/jquery.steps.css">
    <link rel="stylesheet" href="/assets/tinydash/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/assets/tinydash/css/quill.snow.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/assets/tinydash/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/assets/tinydash/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/assets/tinydash/css/app-dark.css" id="darkTheme" disabled>
</head>
  <body class="light ">
    <div class="wrapper vh-100">
      <div class="align-items-center h-100 d-flex w-50 mx-auto">
        <div class="mx-auto text-center">
          <h1 class="display-1 m-0 font-weight-bolder text-muted" style="font-size:80px;">500</h1>
          <h1 class="mb-1 text-muted font-weight-bold">Adblock Detected</h1>
          <h6 class="mb-3 text-muted">You seemed to be using adblocking software. Please turn them off or add them to a whitelist.</h6>
          <a href="/home" class="btn btn-lg btn-primary px-5">Back to Dashboard</a>
        </div>
      </div>
    </div>
    <script src="assets/argon/js/jquery.min.js"></script>
    <script src="assets/argon/js/popper.min.js"></script>
    <script src="assets/argon/js/moment.min.js"></script>
    <script src="assets/argon/js/bootstrap.min.js"></script>
    <script src="assets/argon/js/simplebar.min.js"></script>
    <script src='assets/argon/js/daterangepicker.js'></script>
    <script src='assets/argon/js/jquery.stickOnScroll.js'></script>
    <script src="assets/argon/js/tinycolor-min.js"></script>
    <script src="assets/argon/js/config.js"></script>
    <script src="assets/argon/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>
</body>
</html>